<!DOCTYPE html> <!--inicio do html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--inclusão de bootstrap usando  jinja2-->  
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
    <title>Cadastro do Curso</title>
</head>
<body>
    <header class="bg-dark text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">Alpha InfoSystem</h1>
            <h6>Cadastro de Niveis</h6>
        </div>
    </header>
    
   <form method="post"> <!--Metodo Post é para enviar-->
       <!--template tag-->
       <!-- jinja2 é um template engine-->
       {{form.csrf_token}} <!--tipo hidden (escondido) - inspecione para visualizar-->
       <div class="form-group"> <!--Bootstrap-->
          <label>nome</label>
          {{form.nome(class="form-control")}} <!--form-control-->
          {% if form.errors.nome %}
             <div class="alert alert-danger">
                {{form.errors.nome}}
             </div>           
          {% endif %}

       </div>
       <button class="btn btn-primary" type="submit">cadastrar</button>
   </form> 
   
   {% if request.method == 'POST' %}
   <script>
       // Limpa o campo de texto após o envio do formulário
       document.getElementById("{{ form.nome.id }}").value = "";
   </script>
   {% endif %}
</body>
</html>