{% extends "nivel/base.html" %}

 
{% block conteudo %}

<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="nome">Nome</label>
        {{ form.nome(class="form-control", id="nome") }}          
    </div>
    <button type="submit" class="btn btn-primary">{{ 'Editar' if editar else 'Cadastrar' }}</button>
</form>

{% if request.method == 'POST' %}
  <script>
    // Limpa o campo de texto após o envio do formulário
    document.getElementById("nome").value = "";
  </script>
{% endif %}

{% endblock conteudo %}

