{% extends "nivel/base.html"  %}



{% block conteudo %} 
    
    
    <div class="container mt-5">       
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for nivel in niveis %}
                    <tr>
                        <td>{{ nivel.id }}</td>
                        <td><a href="{{url_for('listar_nivel',id=nivel.id)}}">{{ nivel.nome }}</a></td>
                        <td><a href="{{url_for('editar_nivel',id=nivel.id)}}">alterar</a></td>
                        <td><a href="{{url_for('remover_nivel',id=nivel.id)}}">remover</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{url_for('cadastrar_nivel')}}"> <button type="submit" class="btn btn-primary">Cadastrar</button></a>
       
    </div>
{% endblock conteudo %} 