<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>

		<!--CSS Person-->
		
		<link rel="stylesheet"  href="{{url_for('static',filename='css-login/login-starclinic.css')}}">

		<!--Favicon-->
		<link rel="icon" type="image/png" href="imgs/favicon.png">
	</head>
<body class="bg-login">
	<section class="login">		
		<div class="image-login">			
			<img src="{{ url_for('static', filename='imgs/logo-starclinic.png') }}">		
		</div>
		<form class="form-login" style="margin-top:-50px;" method="post">
			{{ form.csrf_token }}			
			{{ form.email(class="form-control", id="email") }}
			{{ form.senha(class="form-control", id="senha") }}

			<button class="btn-login">Acessar</button>
           
			<a href="recuperar-senha.html" class="rel-pass">Recuperar sua Senha?</a>
		</form>
	</section>
</body>
</html>