<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ProjectScorte</title>
    <!--comentário html-->
    <!--insira o bootstrap aqui!-->
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>

   <!--O grid do bootstrap é uma tabela com 12 colunas-->
   <!--Você vai personalizando a quantidade de linhas-->
   <!--Você vai personalizando a quantidade de colunas que os elementos vão ocupar-->

   <div class="container">
      <div class="row">
         <div class="col">
           célula 1
        </div>
        <div class="col">
           célula 2
        </div>
        <div class="col">
           célula 3
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary col-4">Primary</button>
      </div>
    </div>
    
</body>
</html>