<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Cadastro de Técnico</title>
</head>
<body>
    <header class="bg-dark text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">Sistema Base</h1>
            <h6>Cadastro de Usuário</h6>
        </div>
    </header>
    
    <div class="container">
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="{{ form.nome.id }}">Nome</label>
                {{ form.nome(class="form-control") }}
          
            </div>
            <div class="form-group">
                <label for="{{ form.email.id }}">Email</label>
                {{ form.email(class="form-control") }}
                
            </div>
            <div class="form-group">
                <label for="{{ form.cpf.id }}">CPF</label>
                {{ form.cpf(class="form-control") }}
                
            </div>
            <div class="form-group">
                <label for="{{ form.telefone.id }}">telefone</label>
                {{ form.telefone(class="form-control") }}
                
            </div>
            <div class="form-group">
                <label for="{{ form.senha.id }}">senha</label>
                {{ form.senha(class="form-control") }}
                
            </div>
            <div class="form-group">
                <label>Tipo</label>
                <select id="tipo_id" name="tipo_id" class="form-control">
                    {% for id, nome in form.tipo_id.choices %}
                        <option value="{{ id }}">{{ nome }}</option>
                    {% endfor %}
                </select>                
            </div>     
  

           
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
