<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
</body>

  <div class="container>

       <div class="row">
          <div class="col-3">
               
              <form>
                  nome <input type="text" class="form-control" name="nome_curso">
                  <button type="button" class="btn btn-outline-secondary">cadastrar</button>
              </form>

          </div>
          
        </div>
   </div>



    
</body>
</html>