<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
    <title>Listar Cursos</title>
</head>
<body>

    <table>
      <thead>
        <tr>
            <th>nome</th>
            <th>editar</th>
            <th>remover</th>
        </tr>
      </thead>
      <body>
        <tr>
            <td>João</td>
            <td>alterar</td>
            <td>excluir</td>
        </tr>
      </body>

    </table>
    
</body>
</html>