<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Cadastro de Tipo</title>
</head>
<body>
    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>
    <div class="container d-flex justify-content-center">
        <div class="w-50">
            <h3 class="text-center mb-4">Cadastro de Especialidades</h3>
            <form>
                <div class="mb-3">
                    <label for="nome_tipo" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome_tipo" name="nome_tipo" required>
                </div>
                <button type="button" class="btn btn-outline-secondary w-100">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>
