{% extends "formapgto/base.html"  %}



{% block conteudo %} 
    
    
    <div class="container mt-5">       
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for marmita in marmitas %}
                    <tr>
                        <td>{{ marmita.id }}</td>
                        <td><a href="#">{{ marmita.valor }}</a></td>
                        <td><a href="#">alterar</a></td>
                        <td><a href="#">remover</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#"> <button type="submit" class="btn btn-primary">Cadastrar</button></a>
       
    </div>
{% endblock conteudo %} 