<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
    <title>Cadastro de Tipo</title>
</head>
<body>
    <div class="container">
         <div class="row">           
            <div class="col-4">                
               <form>
                   nome <input type="text" class="form-control" name="nome_tipo">
                   <button type="button" class="btn btn-outline-secondary" >cadastrar</button>
               </form> 
           </div>           
         </div>

         <div class="row">

            <div class="col-5">
                Cadastrado com sucesso!
            </div>
    

         </div>
    </div>
 
    
</body>
</html>