{% extends "tipo/base.html"  %}



{% block conteudo %} 
    
    
    <div class="container mt-5">       
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo in tipos %}
                    <tr>
                        <td>{{ tipo.id }}</td>
                        <td><a href="{{url_for('listar_tipo',id=tipo.id)}}">{{ tipo.nome }}</a></td>
                        <td><a href="{{url_for('editar_tipo',id=tipo.id)}}">alterar</a></td>
                        <td><a href="{{url_for('remover_tipo',id=tipo.id)}}">remover</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{url_for('cadastrar_tipo')}}"> <button type="submit" class="btn btn-primary">Cadastrar</button></a>
       
    </div>
{% endblock conteudo %} 